body{
    margin: 0;
    padding: 0;
    background:#000;
}
h1 {
  position: top;
  top: 35%;
  left: 15%;
  background: linear-gradient(90deg, #ff0000, #d01efd, #CF9FFF, #ff00f3, #0033ff, #ff00c4, #ff0000);
  background-size: 400%;
  font-size: default;
  font-family: "Inter", sans-serif;
  letter-spacing: 0px;
  font-weight: 600;
  word-spacing: 0px;
  -webkit-text-fill-color: transparent;
  -webkit-background-clip:  text;
  animation: animate 10s linear infinite;
}
  @keyframes animate{
      0%{
          background-position: 0%;
      }
      100%{
          background-position: 400%; 
      }
  }

  button{

      width: 200;
      height: 50;
      font-size: 18;
      background: lightblue;
      border-color:white;
      border-width: 5px;
  }
